/* everything */
.blue {
    background-color: #9CCFE3;
    color: white;
}

.yellow {
    background-color: #FEF9C6;
    color: black;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


/* header */
header {
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    align-items: center;
}

.main-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#search-input {
    padding: 10px;
    border-radius: 100px;
    border: none;
    height: 30px;
    width: 80%;
}

#main-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    list-style: none;
}

#main-buttons li a {
    padding: 10px 20px;
    border-radius: 100px;
    text-decoration: none;
    color : black;
}